* { flex-shrink: 0; }

html, body {
  background-color: black;
  color: white;
  height: 100%;
  margin: 0; 
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: black;
  border: 4px solid rgb(107, 99, 88);
  height: auto;
  padding: 4px;
}

button  {
  background-color: black;
  color: white;
  font-size: 5em; 
  width: 1.5em;
  margin-top: 0.15em;
  border: 2px outset rgb(36, 40, 42)
}

#screen { 
  background-color: rgb(46, 50, 52);
  padding: 0.2em;
  font-size: 4em; 
  text-align: end;
}

.zero { min-width: 49.5%; }

.number { background-color: rgb(0, 0, 40); }

.number:active { background-color: rgb(0, 0, 30) }

.operator { background-color: rgb(0, 0, 210); }

.operator:active { background-color: rgb(0, 0, 200); }

.clear-all, .clear-entry { background-color: rgb(200, 0, 0); }

.clear-all:active, .clear-entry:active { background-color: rgb(190, 0, 0); }

.plus-minus, .equals { background-color: rgb(90, 0, 0); }

.plus-minus:active, .equals:active { background-color: rgb(80, 0, 0); }
